*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
img{
    width:200px;

}
.gallery{
    float:left;
    margin:30px;
    border:1px solid yellow;
}
.gallery .desc{
    padding:10px;
    text-align:center;
}
.gallery:hover{
    border:none;
   
}
img:hover{
    width:250px;
    opacity: 0.3;
}